@font-face {
    font-family: 'BadSignal';
    src: url('/static/BadSignal.ttf') format('truetype'),
         url('/static/BadSignal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bad Signal Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bad Signal Regular'), url('/static/Bad_Signal.woff') format('woff');
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.raleway_class {
    font-family: Raleway;
    font-style: italic;
    font-size: 24px;
    line-height: 26.4px;
}

.tlt {
    font-family: Bad Signal Regular;
    font-style: italic;
    font-size: 60px;
    color: white;
    margin-left: 0px;
}

.btn {
    background-color: white;
    color: black;
    border-color: white;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.footer_sign {
    vertical-align: text-top;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

.footer_contact {
    vertical-align: text-top;
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
}

@font-face {
    font-family: 'BadSignal';
    src: url('/static/BadSignal.ttf') format('truetype'),
         url('/static/BadSignal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
