{% extends "base_generic.html" %}

{% block content %}
    {% if msge_list %}
        <!--ul-->
            {% for msge in msge_list %}
                {% if msge.status == 'pendiente' %}
                <form action="" method="POST" style="margin-left: 12px;">
                    {% csrf_token %}
                    <div style="font-size: larger; font-weight: bold;"> {{ msge.timestamp}} - {{ msge.body}} --- <button type="submit" value="✓" name="mode-ok" class="btn btn-success btn-xs">Ok</button> -- <input type="submit" value="X" name="mode-rej" class="btn btn-danger btn-xs"></div>
                    <input type="hidden" value="{{ msge.id }}" name="msge_id">
                </form>
                {% endif %}
            {% endfor %}
        <!--/ul-->
    {% endif %}
{% endblock %}