{% extends "base_generic.html" %}

{% block content %}
    <div class="container">
        <div class="row mb-5">
            <div class="column">
                <div class="banner_c">
                    <h2>No queremos escuchar más:</h2>
                    <h3>
                        <div class="tlt">
                            {% if msge_list %}
                            <ul class="texts">
                                
                                {% for msge in msge_list %}
                                <li>
                                    {{ msge.body }}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row mb-5">
            <div class="column">
                <div class="input_p">
                    <h3>Contanos lo que vos tampoco querés escuchar más:</h3>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row mb-2">
                            <textarea name="body" id="body" rows="4" cols="80"></textarea>
                        </div>
                        <div class="row mb-2">
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
